<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome" version="4.7.0" targetFramework="net48" />
  <package id="Magick.NET.Core" version="13.5.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="13.5.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PixiEditor.ColorPicker" version="3.4.2" targetFramework="net48" />
  <package id="PixiEditor.ColorPicker.Models" version="1.0.7" targetFramework="net48" />
  <package id="SQLite" version="3.13.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.8" targetFramework="net48" />
  <package id="WriteableBitmapEx" version="1.6.8" targetFramework="net48" />
</packages>