<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoboothWPF.Properties.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhotoboothWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoboothWPF.Properties.AppSetting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#333333</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
        </PhotoboothWPF.Properties.AppSetting>
        <PhotoboothWPF.Properties.Settings>
            <setting name="BgColor" serializeAs="String">
                <value>#FAFAFAFA</value>
            </setting>
        </PhotoboothWPF.Properties.Settings>
    </userSettings>
</configuration>